
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');



$color_id1: #df1bfb;
$color_id2: #5023fa;


html{
}
body{
	background: #000;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}



h1, h2,h3, h4, h5{
	font-weight: normal;
	font-family: 'Droid Serif', sans-serif;
	text-transform: uppercase;
}


a{
	color:  #fff;
}
a.active{
	color:  #000;
}


.wrap_center{
	position: relative;
	padding: 0 15px;
	margin: 0 auto;

	@media screen and ( min-width: 1024px ){
		padding: 0;
		width: 82.3828125%;
	}
}


.index_holder{
	margin-bottom: 1.875em;

	span{
		font-family: 'Droid Sans', serif;
		display: inline-block;
		font-size: 2.65em;
		line-height: 1em;
		font-weight: 700;
		color: #5e73e1;
		padding-bottom: .04em;
		border-bottom:  solid 2px $color_id1;
		margin-bottom: .2em;
	}

	h4{
		display: block;
		color:  #fff;
		font-family: 'Robot', sans-serif;
		font-size: 1.5em;
		font-weight: normal;
		text-transform: uppercase;
	
		@include clearfix;
	}
}



@keyframes preloader_animation{
	0%{ width: 0% }
	40%{ width: 100% }
	60%{ width: 100% }
	100%{ width: 0% }
}
#preloader{
	position: absolute;
	top: 50%; left: 50%;
	width: 200px;
	height: 10px;
	transform: rotate(-45deg) translate(-50%, -50%);
	transform-origin: center;
	
	span{
		position: relative;
		//float: left;
		display: block;
		height: 100%;
		margin: 5px auto;
		//overflow: hidden;
		border-radius: 20px;
		
		&:before{
			content: '';
			display: block;
			position: absolute;
			width: 0%;
			height: 100%;
			top: 0; left: 0;
			border-radius: 20px;
			box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #f0f,   /* inner left magenta short */
        inset -20px 0 80px #0ff,  /* inner right cyan short */
        inset 20px 0 300px #f0f,  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 40px #dd31f8,        /* outer left magenta */
        10px 0 80px #f0f;         /* outer right cyan */
		}
		
		&:nth-child(1){
			width: 35%;
			&:before{
				animation: preloader_animation 2s ease-in .0s infinite alternate;
			}
		}
		&:nth-child(2){
			width: 15%;
			&:before{
				animation: preloader_animation 1.5s ease-in .6s infinite alternate;
			}
		}
		&:nth-child(3){
			width: 50%;
			&:before{
				animation: preloader_animation 2s ease-in 1s infinite alternate;
			}
		}
	}
}


header, section, footer{
	position: relative;
	padding: 2em 0;
	min-height: 100vh;

	@media screen and ( min-width: 1024px ){
		//height: 100vh;
		//padding: 0
	}
}




@import 'header';
@import 'about';
@import 'skills';
@import 'work';
@import 'footer';


